.DS_Store
__pycache__/
*.py[cod]
*.db
.pytest_cache/

backend/.venv/
backend/.env
backend/*.db
backend/app/static/uploads/*
backend/app/static/uploads/**/*
!backend/app/static/uploads/.gitkeep
!backend/app/static/uploads/*/
!backend/app/static/uploads/*/.gitkeep

mysql_data/

**/project.private.config.json
ssl/
